<!-- Форма для создания пользователя -->
<div class="container col-6 form-group text-center" th:fragment="create-form">
    <form th:action="@{./create/}" method="POST">
        <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />

        <div class ="form-group">
            <label><strong> First Name </strong></label>
            <label>
                <input
                        type = "text"
                        name = "firstName"
                        class = "form-control"
                        placeholder="Enter User First Name"
                        required
                />
            </label>
        </div>

        <div class ="form-group">
            <label><strong> Last Name </strong></label>
            <label>
                <input
                        type = "text"
                        name = "lastName"
                        class = "form-control"
                        placeholder="Enter User Last Name"
                        required
                />
            </label>
        </div>

        <div class ="form-group">
            <label><strong> Age </strong></label>
            <label>
                <input
                        type = "number"
                        name = "age"
                        class = "form-control"
                        placeholder="Enter User Age"
                        min="0"
                        required
                />
            </label>
        </div>

        <div class ="form-group">
            <label><strong> Email </strong></label>
            <label>
                <input
                        type = "text"
                        name = "email"
                        class = "form-control"
                        placeholder="Enter User Email"
                        pattern="(\w+)@(\w+)(\.)(\w+)"
                        required
                />
            </label>
        </div>

        <div class ="form-group">
            <label><strong> Password </strong></label>
            <label>
                <input
                        type = "password"
                        name = "password"
                        class = "form-control"
                        placeholder="Enter User Password"
                        required
                />
            </label>
        </div>

        <div class ="form-group">
            <label for="newRoles"><strong> Role </strong></label>
            <select multiple class="form-control" id="newRoles" name="roles" required>
                <option th:each="role: ${roles}"
                        th:value="${role.id}"
                        th:text="${role}"
                >
                </option>
            </select>
        </div>
        <button type="submit" class = "btn btn-success btn-lg mt-3">
            Add new user
        </button>
    </form>

</div>

