<!-- Заголовок окна -->
<header th:fragment="header">
    <div class="container-fluid">
        <dl class="row p-2 bg-dark">
            <div class="col-11 text-left">
                <span class="text-white" style="font-size: large">
                    <strong><a id="email"></a></strong>
                    with roles:
                    <a id="roles"></a>
                </span>
            </div>
            <form id="logout-form" th:action= "@{/logout}" method="POST">
                <button type="submit" class = "btn btn-link" style="color: darkgray">Logout</button>
            </form>
        </dl>
    </div>
</header>